#videoone {
	left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#videotwo {
	right: 0px;
}
#videothree {
	left: 0px;
}
#videofour {
	right: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#yosoybeantext {
	padding-bottom: 25px;
	text-align: left;
	font-size: 12pt;
	font-family: "Helvetica Neue";
	color: #484848;
}
#halfwidthtext {
	padding-bottom: 2px
	text-align: left;
	font-size: 12pt;
	font-family: "Helvetica Neue";
	color:484848;
	width: 420px;
}

#secondhalfwidthtext {
	padding-bottom: 2px
	text-align: left;
	font-size: 12pt;
	font-family: "Helvetica Neue";
	color:484848;
	width: 440px;
	padding-left: 20px;
	
}
#secondcopy {
	padding-bottom: 25px;
	
}

#videofive {
	left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#videosix {
	right: 0px;
}
#thirdcopy {
	padding-top: 25px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-left: 50px;
}


#secondcopy {
	padding-top: 25px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-left: 50px;
}

#folktofolktext {
	padding-right: 50px;
	padding-left: 50px;
	font-family: "helvetica neue", Arial, Helvetica, sans-serif;
}
#background {
	background-color: #eeeeee;
}
#descriptionbox {
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #98a7ae;
}
body p {
	background-color: #eeeeee;
	font-family: "Helvetica Neue";
	color: #484848;
}
#bodyimage {
	background-color: #eeeeee;
}
.background {
	background-color: #F8F8F8;
}
body {
	background-color: #FCFCFC;
	margin-left: 100px;
	margin-right: 100px;
}
#contactcopy {
	font-family: "Helvetica neue", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#contactborder {
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #98a7ae;
}
#bannerborder {
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #98a7ae;
}

a:link {
	color: #353535;
	text-decoration: none;
}
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
#columns {
        width: 900px;
    }

#columns .column {
        position: relative;
        padding-bottom: 25px;
		width: 50%
    }

#columns .left {
        float: left;
		width: 440px;
	
    }

#columns .right {
        float: right;
		width: 440px;
		

    }


